.widget {
  margin: 0 auto;
  position: relative;
  background-image: url(../img/paris.png);
  height: 435px;
  max-width: 696px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Lato";
  color: #ffffff;
}
.widget__temperature {
  display: flex;
  justify-content: flex-end;
  height: 152px;
  padding: 80px 50px 50px 50px;
  text-align: center;
}
.widget__date {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 0px 32px 16px 32px;
}
.widget__info {
  display: flex;
  flex-direction: column;
}
.widget__city {
  font-size: 22px;
  font-weight: 300;
  padding: 0px 10px 17px 0px;
}
.widget__weekday {
  font-size: 30px;
  font-weight: 300;
}
.widget__month {
  font-size: 15px;
  font-weight: 300;
}
.widget__today {
  font-size: 15px;
  font-weight: 300;
}
.widget__value {
  font-size: 95px;
  line-height: 95px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Lato";
}
.widget__speed {
  font-size: 25px;
  line-height: 16px;
  font-weight: bold;
}
.widget__mph {
  font-size: 14px;
  font-weight: bold;
}
.widget__days {
  position: relative;
  display: flex;
}
.widget__prev, .widget__next {
  padding: 40px;
  position: relative;
}
.widget__weathercast {
  display: flex;
  position: relative;
  justify-content: space-around;
  flex-direction: row;
  text-align: center;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 108px;
  background-color: rgba(0, 0, 0, 0.3);
}

@media screen and (max-width: 768px) {
  .widget__temperature {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 300px;
  }

  .widget__prev,
.widget__next {
    padding: 5px;
  }
}
.day {
  padding: 18px 32px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.day::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  height: 80%;
  width: 1px;
}
.day:last-child:after {
  content: none;
}

@media screen and (max-width: 768px) {
  .day {
    padding: 18px 5px 16px 5px;
  }
}