@import 'libs/bootstrap-reboot.min';
@import 'libs/font';

* {
    font-family: 'Avenir Next', sans-serif;
}

.container {
    max-width: 613px;
    margin: 0 auto;
}

@import 'blocks/widget';
@import 'base/media';