* {
  padding: 0;
  margin: 0;
  border: 0;
}

*:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a, a:visited, a:hover {
  text-decoration: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.weather-widget {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
}

.weather-widget__block {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -ms-grid-rows: 2fr 1fr;
      grid-template-rows: 2fr 1fr;
  grid-row-gap: 12%;
}

.weather-widget__block_fifth {
  grid-row-gap: 5%;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
}

.weather-widget__img {
  display: -ms-grid;
  display: grid;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.weather-widget__list {
  display: -ms-grid;
  display: grid;
  width: 100%;
  -ms-grid-columns: 24px 1fr 1fr 1fr 1fr 24px;
      grid-template-columns: 24px 1fr 1fr 1fr 1fr 24px;
}

.weather-list__item {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr;
  justify-items: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: end;
}

.weather-list__item:first-child {
  -ms-grid-column: 2;
      grid-column-start: 2;
}

.weather-list__text:nth-child(1) {
  -ms-flex-item-align: end;
      -ms-grid-row-align: end;
      align-self: end;
}

.weather-list__text:nth-child(3) {
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}

.weather-list__item {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  grid-gap: 10%;
}

.weather-widget__block {
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 2fr 12% 1fr;
}

.weather-widget__block_first {
  -ms-grid-column: 1;
  -ms-grid-row: 1;
}

.weather-widget__block_second {
  -ms-grid-column: 2;
  -ms-grid-row: 1;
}

.weather-widget__block_third {
  -ms-grid-column: 3;
  -ms-grid-row: 1;
}

.weather-widget__block_fourth {
  -ms-grid-column: 1;
  -ms-grid-row: 2;
}

.weather-widget__block_fifth {
  -ms-grid-rows: 1fr 5% 1fr;
  -ms-grid-column: 2;
  -ms-grid-row: 2;
}

.weather-widget__block_sixth {
  -ms-grid-column: 3;
  -ms-grid-row: 2;
}

.weather-widget__img {
  -ms-grid-row: 1;
  -ms-grid-row-align: end;
}

.weather-widget__text, .weather-widget__list {
  -ms-grid-row: 3;
}

.weather-widget__list {
  -ms-grid-rows: 1fr;
}

.weather-widget__list, .weather-widget__text, .weather-widget__img {
  -ms-grid-column-align: center;
}

.weather-list__item {
  -ms-grid-rows: 2fr 5% 1fr 10% 1fr 5% 1fr;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.weather-list__item:nth-child(1) {
  -ms-grid-column: 2;
}

.weather-list__item:nth-child(2) {
  -ms-grid-column: 3;
}

.weather-list__item:nth-child(3) {
  -ms-grid-column: 4;
}

.weather-list__item:nth-child(4) {
  -ms-grid-column: 5;
}

.weather-list__text:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-row-align: end;
}

.weather-list__text:nth-child(3) {
  -ms-grid-row: 5;
}

.weather-list__img {
  -ms-grid-row: 3;
}

.weather-list__img, .weather-list__text {
  -ms-grid-column-align: center;
  display: block;
}

@font-face {
  font-family: AvenirNext;
  src: url(../fonts/AvenirNextCyr-Bold.ttf) format("opentype");
}

.wrapper {
  width: 100vw;
  height: 100vh;
  background: url(../img/background.png) no-repeat center center fixed;
  background-size: cover;
}

.weather-widget {
  font-family: AvenirNext;
  font-size: 16px;
  line-height: 12px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  max-height: 412px;
  width: 100%;
  max-width: 615px;
  -webkit-box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.weather-widget__block {
  -webkit-box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
          box-shadow: 0 0 2px rgba(0, 0, 0, 0.5);
}

.weather-widget__block_first {
  background-color: #05b3db;
  text-shadow: 0px 1px 0px rgba(6, 179, 219, 0.75);
}

.weather-widget__block_second {
  background-color: #4ed385;
  text-shadow: 0px 1px 0px rgba(77, 209, 132, 0.75);
}

.weather-widget__block_third {
  background-color: #6038f5;
  text-shadow: 0px 1px 0px rgba(97, 57, 246, 0.75);
}

.weather-widget__block_fourth {
  background-color: #e3b63d;
  text-shadow: 0px 1px 0px rgba(227, 182, 61, 0.75);
}

.weather-widget__block_fifth {
  background-color: #dc3d66;
  text-shadow: 0px 1px 0px rgba(220, 61, 102, 0.75);
}

.weather-widget__block_sixth {
  background-color: #bd53cd;
  text-shadow: 0px 1px 0px rgba(189, 84, 205, 0.75);
}

.weather-widget__list {
  background-color: #bc3459;
}

.weather-list__item {
  font-size: 12px;
}

@media all and (max-width: 450px) {
  .weather-widget {
    font-size: 13px;
  }
  .weather-list__text {
    font-size: 10px;
  }
}

@media all and (max-width: 615px) {
  .weather-widget {
    margin: 0 auto;
    max-height: 100vh;
    -ms-grid-rows: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .weather-widget__block_first {
    -ms-grid-column: 1;
    -ms-grid-row: 1;
  }
  .weather-widget__block_second {
    -ms-grid-column: 2;
    -ms-grid-row: 1;
  }
  .weather-widget__block_third {
    -ms-grid-column: 1;
    -ms-grid-row: 2;
  }
  .weather-widget__block_fourth {
    -ms-grid-column: 2;
    -ms-grid-row: 2;
  }
  .weather-widget__block_fifth {
    -ms-grid-column: 1;
    -ms-grid-row: 3;
  }
  .weather-widget__block_sixth {
    -ms-grid-column: 2;
    -ms-grid-row: 3;
  }
}
