* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@font-face {
  font-family: 'Proxima Nova Light';
  src: url('fonts/Mark Simonson - Proxima Nova Light.eot');
  src: local('☺'), url('fonts/Mark Simonson - Proxima Nova Light.woff') format('woff'), url('fonts/Mark Simonson - Proxima Nova Light.ttf') format('truetype'), url('fonts/Mark Simonson - Proxima Nova Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Light';
  src: url('fonts/SourceSansPro-Light.eot');
  src: local('☺'), url('fonts/SourceSansPro-Light.woff') format('woff'), url('fonts/SourceSansPro-Light.ttf') format('truetype'), url('fonts/SourceSansPro-Light.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'SourceSansPro-Semibold';
  src: url('fonts/SourceSansPro-Semibold.eot');
  src: local('☺'), url('fonts/SourceSansPro-Semibold.woff') format('woff'), url('fonts/SourceSansPro-Semibold.ttf') format('truetype'), url('fonts/SourceSansPro-Semibold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('fonts/Mark Simonson - Proxima Nova Bold.eot');
  src: local('☺'), url('fonts/Mark Simonson - Proxima Nova Bold.woff') format('woff'), url('fonts/Mark Simonson - Proxima Nova Bold.ttf') format('truetype'), url('fonts/Mark Simonson - Proxima Nova Bold.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

.container {
  background-color: #4e5860;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.widget {
  background-color: #f1f8f9;
  width: 388.99px;
  height: 460px;
  border-radius: 10px 10px 29px 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0px 37px 76px 2px rgba(0, 0, 0, 0.2);
}
.widget__header {
  display: flex;
  justify-content: flex-end;
  padding-top: 16px;
  padding-right: 17px;
  border-radius: 10px 10px 0 0;
}
.widget__main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 5px;
  padding-top: 10px;
}

.widget__forecast {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
}

.widget__info {
  display: flex;
  align-items: flex-start;
  font-family: "Proxima Nova Light";
  font-size: 58px;
  margin-left: 20px;
}
.widget__temperature {
  color: #a5acaf;
}
.widget__info img {
  padding-left: 5px;
  padding-top: 16px;
}

.widget__description-location {
  display: flex;
  flex-direction: column;
  margin-right: 37px;
}
.widget__description {
  font-family: "SourceSansPro-Light";
  color: #bac2c6;
  font-size: 24px;
}
.widget__location {
  font-family: "SourceSansPro-Semibold";
  color: #a2a9ad;
  font-size: 16px;
}

.widget__date {
  background-color: #54bae6;
  width: 65px;
  height: 69px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Open Sans", Sans-Serif;
  font-weight: 700;
  color: #ffffff;
}
.widget__month {
  padding-top: 5px;
  text-transform: uppercase;
}

.widget__footer {
  background-color: #2e3335;
  width: 388.99px;
  height: 136px;
  border-radius: 0px 0px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.widget__additional-info {
  width: 330px;
  margin-top: 46px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: "Proxima Nova Bold";
  color: #ffffff;
  font-size: 14px;
  text-transform: uppercase;
}

.additional-info__item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.additional-info__item:nth-child(2) {
  width: 60px;
  margin-right: 20px;
}

.additional-info__item:last-child {
  width: 60px;
  padding-right: 20px;
}

.additional-info__item > img {
  margin-right: 15px;
}

.widget__scroll-dots {
  width: 45px;
  height: 12px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}

