/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*			styles			*/
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  width: 800px;
  min-height: 600px;
  background: url(img/bg.jpg) center no-repeat;
  margin: auto;
  padding-top: 80px;
}

.widget {
  width: 580px;
  margin: auto;
  border-radius: 5px;
  overflow: hidden;
  -webkit-box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-align: center;
  font-family: "Dosis", sans-serif;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(290px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
}

.widget__column-left {
  background: url(img/bg2.jpg) center no-repeat;
  background-size: cover;
  border-right: 1px solid #3d0404;
  color: white;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 240px 95px 105px;
      grid-template-rows: 240px 95px 105px;
}

.widget__column-right {
  background: white;
  padding: 30px 35px 25px 35px;
  color: #771921;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 120px 100px 150px;
      grid-template-rows: 120px 100px 150px;
}

.widget__icon {
  min-height: 240px;
  padding-top: 40px;
  -ms-grid-row: 1;
  grid-row: 1;
}

.widget__icon img {
  display: block;
  margin: auto;
}

.widget__description {
  background: rgba(69, 53, 61, 0.95);
  padding-top: 30px;
  -ms-grid-row: 2;
  grid-row: 2;
}

.widget__description p {
  font-weight: 200;
  font-size: 36px;
}

.widget__location {
  -ms-grid-row: 3;
  grid-row: 3;
  background: rgba(134, 50, 57, 0.95);
  padding-top: 40px;
}

.widget__location p {
  font-weight: 300;
  font-size: 22px;
}

.widget__temperature {
  -ms-grid-row: 1;
  grid-row: 1;
  border-bottom: 1px solid #771921;
}

.widget__temperature p {
  font-size: 101px;
  font-weight: 200;
}

.widget__graph {
  -ms-grid-row: 2;
  grid-row: 2;
  border-bottom: 1px solid #771921;
  padding-top: 25px;
}

.widget__forecast {
  padding-top: 25px;
  font-weight: 300;
  -ms-grid-row: 3;
  grid-row: 3;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -webkit-column-gap: 45px;
          column-gap: 45px;
}

.widget__forecast-day {
  padding-top: 15px;
  border-bottom: 1px solid #771921;
  height: 40px;
}

.widget__forecast-daytemp, .widget__forecast-nighttemp {
  padding-top: 15px;
}

.widget__forecast-nighttemp {
  color: #332126;
}

.widget__link {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

@media (max-width: 800px) {
  .wrapper {
    background: none;
    padding-top: 0;
    margin: 0;
    width: 100%;
  }
  .widget {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .widget {
    border-radius: 0;
  }
  .widget__column-left {
    border: none;
  }
}
/*# sourceMappingURL=style.css.map */