// Для для блоков с погодой (BLOCK)
$GRIDROWSBLOCK: 2fr 12% 1fr;
$GRIDROWSBLOCKFORFIFTH: 1fr 5% 1fr;
$GRIDCOLUMNSBLOCK: 1fr;

// Для списка (UL)
$GRIDROWSUL: 1fr;

// Для ячейки списка (LI)
$GRIDROWSLI: 2fr 5% 1fr 10% 1fr 5% 1fr;
$GRIDCOLUMNSLI: 1fr;

// Для позиции блоков
$GRIDCOLUMNFIRST: 1;
$GRIDCOLUMNSECOND: 2;
$GRIDCOLUMNTHIRD: 3;
$GRIDCOLUMNFOURTH: 4;
$GRIDCOLUMNFIFTH: 5;
$GRIDROWFIRST: 1;
$GRIDROWSECOND: 2;
$GRIDROWTHIRD: 3;
$GRIDROWFIFTH: 5;
