@import "_reset.scss";
@import "_bg.scss";
@import "_forIE11.scss";

.weather-widget {  
   max-width: 621px;
   margin: 15vh auto;
   @media (max-width: 620px) {
      margin: 0px auto;
      transition: 500ms;
   }
}
.weather-widget__body{
   display: grid;  
   grid-template-columns: repeat(auto-fit, minmax(207px, 1fr));
   grid-auto-rows: minmax(207px, 1fr);
   box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.8);
   .weather-widget__box {
      display: grid;
      grid-auto-flow: row;
      grid-template: auto 30% / 1fr;
      &_blue {background: #06B3DB;}      
      &_green {background: #4ED486;}      
      &_night {background: #6139F6;}      
      &_yellow {background: #E3B63D;}      
      &_red {background: #DC3D66;}      
      &_purple {background: #BD54CD;}
      &:hover {
         grid-template: auto 50% / 1fr;
         .weather-widget__week-temperature_hide {
            display: grid;
            background: radial-gradient(ellipse farthest-corner, rgba(0, 0, 0, .01), rgba(0, 0, 0, .15));
         }
         .weather-widget__title_hide {
            display: none;
         }
         .weather-widget__icon_hide {   
            img {
               margin: auto;
               max-width: 100%;
               width: 70%;
               height: 75%;               
               object-fit: contain;
            }  
         }
      }
   }
}
.weather-widget__icon {
   margin: auto;
   img {
      margin: auto;
      max-width: 100%;
      width: 100%;
      height: 70%;
      object-fit: cover;
      display: block;
   }
   &_less {
      img {
         width: 44%;
         height: 90%;
         object-fit: contain;
         @media (max-width: 413px) {
            width: 35%;
         }
      }
   }
}
.weather-widget__title {
   font-family: 'Lato', sans-serif;
   color: #FFFFFF;
   font-size: 16px;     
   user-select: none; 
   justify-self: center;
   &_less {
      font-size: 12px;
      margin-top: 8px;
   }
   &_temp {
      font-size: 12px;
      margin-top: 8px;
   }
}
.weather-widget__week-temperature {  
   display: none; 
   padding: 10px 20px;
   grid-auto-flow: column;
   grid-template: 100% / repeat(4, 25%);
   .weather-widget__day {
      display: grid;
      grid-auto-flow: row;
      grid-template: 1fr 1fr 1fr / 1fr;
   }
}