// Для главного контейнера Weather Widget (WW)
$FONTSFORSMALLSCREEN: 13px;
$HEIGHTFORSMALLSCREEN: 100vh;
$MARGINFORSMALLSCREEN: 0 auto;
// Для для блоков с погодой (BLOCK)
$GRIDROWS: 1fr 1fr 1fr;
$GRIDCOLUMNS: 1fr 1fr;
$GRIDCOLUMNFIRST: 1;
$GRIDCOLUMNSECOND: 2;
$GRIDROWFIRST: 1;
$GRIDROWSECOND: 2;
$GRIDROWTHIRD: 3;
