// Для главного контейнера Weather Widget (WW)
$FONTSFORSMALLSCREEN: 13px;
$HEIGHTFORSMALLSCREEN: 100vh;
$WIDTHFORSMALLSCREEN: 100vw;

$WIDTHFORBIGSCREEN: 70rem;
$HEIGHTFORBIGSCREEN: 50rem;
$FONTSFORBIGSCREEN: 2.5vh;
// Для для блоков с погодой (BLOCK)
$GRIDROWS: 1fr 1fr 1fr;
$GRIDCOLUMNS: 1fr 1fr;
$GRIDCOLUMNFIRST: 1;
$GRIDCOLUMNSECOND: 2;
$GRIDROWFIRST: 1;
$GRIDROWSECOND: 2;
$GRIDROWTHIRD: 3;

// Для для блока с погодой по дням недели (ITEM)
$FONTSFORSMALLSCREENITEM: 10px;
$FONTSFORBIGSCREENITEM: 2vh;
$HEIGHTFORBIGSCREENITEM: 3vh;
// Для для блока с картинкой (IMG)
$HEIGHTFORBIGSCREENIMG: 11vh;
