// Для главного контейнера Weather Widget (WW)
$FONTSFORSMALLSCREEN: 13px;
$HEIGHTFORSMALLSCREEN: 100vh;
$MARGINFORSMALLSCREEN: 0 auto;
// Для для блоков с погодой (BLOCK)
$WIDTHBLOCKFORSMALLSCREEN: 50%;