// Для главного контейнера Weather Widget (WW)
$FONTSFORSMALLSCREEN: 13px;
$HEIGHTFORSMALLSCREEN: 100vh;
$WIDTHFORSMALLSCREEN: 100vw;
$MARGINFORSMALLSCREEN: 0 auto;

$WIDTHFORBIGSCREEN: 70rem;
$HEIGHTFORBIGSCREEN: 50rem;
$FONTSFORBIGSCREEN: 2.5vh;
// Для для блоков с погодой (BLOCK)
$WIDTHBLOCKFORSMALLSCREEN: 50%;

$WIDTHBLOCKFORBIGSCREEN: 33.3%;
$HEIGHTBLOCKFORBIGSCREEN: 50%;
// Для для блока с погодой по дням недели (ITEM)
$FONTSFORBIGSCREENITEM: 2vh;
$HEIGHTFORBIGSCREENITEM: 3vh;
// Для для блока с картинкой (IMG)
$HEIGHTFORBIGSCREENIMG: 11vh;
