.widget {
  margin: 0 auto;
  position: relative;
  background-image: url(../img/paris.png);
  height: 435px;
  max-width: 696px;
  width: 100%;
  box-sizing: border-box;
  font-family: "Lato";
  color: #ffffff;
  &__temperature {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto 26px auto;
    grid-template-columns: auto auto;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    justify-content: end;
    -webkit-column-gap: 26px;
    -moz-column-gap: 26px;
    column-gap: 26px;
    padding: 80px 50px 50px 50px;
    text-align: center;
    height: 327px;
  }
  &__temperature > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  &__temperature > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  &__date {
    position: relative;
    padding: 0px 32px 16px 32px;
  }
  &__city {
    font-size: 22px;
    font-weight: 300;
    padding: 0px px px 0px;
    display: block;
  }
  &__weekday {
    font-size: 30px;
    font-weight: 300;
  }
  &__month {
    font-size: 15px;
    font-weight: 300;
  }
  &__today {
    font-size: 15px;
    font-weight: 300;
  }
  &__value {
    font-size: 95px;
    line-height: 95px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Lato";
  }
  &__speed {
    font-size: 25px;
    line-height: 16px;
    font-weight: bold;
  }
  &__mph {
    font-size: 14px;
    font-weight: bold;
  }
  &__days {
    position: relative;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto;
    grid-template-rows: auto;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    .days > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    .days > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }
    .days > *:nth-child(3) {
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    .days > *:nth-child(4) {
      -ms-grid-row: 1;
      -ms-grid-column: 4;
    }
  }
  &__prev,
  &__next {
    padding: 40px;
    position: relative;
  }
  &__weathercast {
    display: -ms-grid;
    display: grid;
    display: grid;
    -ms-grid-rows: 108px;
    grid-template-rows: 108px;
    -ms-grid-columns: 1fr 4fr 1fr;
    grid-template-columns: 1fr 4fr 1fr;
    text-align: center;
    align-items: center;
    font-size: 15px;
    width: 100%;
    height: 108px;
    background-color: rgba(0, 0, 0, 0.3);
  }
  &__weathercast > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  &__weathercast > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }
  &__weathercast > *:nth-child(3) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
}
@media screen and (max-width: 768px) {
  .widget__temperature {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
    -ms-grid-columns: auto;
    grid-template-columns: auto;
  }
  .widget__temperature > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .widget__temperature > *:nth-child(2) {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
  .widget__prev,
  .widget__next {
    padding: 5px;
  }
}
