@import '../fonts.css';

* {
    padding: 0;
    margin: 0;
    border: 0;
}

.weather {
    max-width: 390px;
    background-color: #f1f8f9;
    margin: 0 auto;
    border-radius: 10px;
    box-shadow: 0px 21px 20.16px 0.84px rgba(0, 0, 0, 0.15);
    display: grid;
    display: -ms-grid;
    grid-template-columns: 1fr;
    grid-template-rows: minmax(240px, auto) minmax(70px, auto) minmax(18px, auto) minmax(136px, auto);
    -ms-grid-rows: minmax(240px, min-content) minmax(70px, min-content) minmax(18px, min-content) minmax(136px, min-content);

    .weather-header {
        display: grid;
        display: -ms-grid;
        grid-template-columns: 1fr auto;
        grid-template-rows: auto;
        -ms-grid-columns: 1fr auto;
        -ms-grid-rows: 238px;

        .weather-header__item {
            margin-top: 70px;
            margin-left: 120px;
            color: #a5acaf;
            -ms-grid-column: 2;
        }

        .weather-header__refresh {
            -ms-grid-column: 3;
            display: grid;
            display: -ms-grid;
            -ms-grid-columns: 1fr auto;
            grid-template-columns: 1fr auto;

            img {
                margin: 16px 16px 0 0;
                -ms-grid-column: 2;
            }


        }
    }

    .weather-main {
        display: grid;
        grid-template-columns: minmax(108px, min-content) 1fr minmax(65px, min-content);
        color: #a5acaf;
        display: -ms-grid;
        -ms-grid-columns: 108px 1fr 65px;
        -ms-grid-rows: 1fr;

        .weather-main__item:first-child {
            -ms-grid-column: 1;
            display: grid;
            grid-template-columns: 1fr 1fr;
            display: -ms-grid;
            -ms-grid-columns: auto auto;

            .weather-main__degrees {
                display: block;
                font-size: 48px;
                font-family: "Proxima Nova Light";
                -ms-grid-column: 1;
                margin-left: 20px;
                margin-top: 4px
            }

            .weather-main__degree-symbol {
                display: block;
                font-size: 14px;
                font-family: "Proxima Nova Regular";
                color: #8d9396;
                text-transform: uppercase;
                -ms-grid-column: 2;
                margin-left: 6px;
                margin-top: 14px;
            }
        }

        .weather-main__item:nth-child(2) {
            margin: 8px 0 8px 0;
            text-align: left;
            line-height: 1.2;
            -ms-grid-column: 2;

            .weather-main__weather {
                font-size: 24px;
                font-family: "Source Sans Pro Light";
                color: #bac2c6;
            }

            .weather-main__location {
                font-size: 16px;
                font-family: "Source Sans Pro Regular";
                color: #a2a9ad;
                letter-spacing: 0.25px;
            }

        }

        .weather-main__item:last-child {
            -ms-grid-column: 3;
            display: -ms-grid;
            -ms-grid-columns: 1fr 1fr 1fr 1fr;
            -ms-grid-rows: 1fr 1fr;
            display: grid;
            grid-template-columns: 1fr auto auto 1fr;
            grid-template-rows: auto auto;
            background-color: #54bae6;
            font-family: "Open Sans Bold";
            padding: 14px 0 10px 0;
            color: #ffffff;

            .weather-main__month {
                font-size: 14px;
                line-height: 1.2;
                grid-column-start: 2;
                grid-row-start: 1;
                grid-column-end: span 2;
                -ms-grid-column: 2;
                -ms-grid-row: 1;
                -ms-grid-column-span: 2;
                margin: 0 auto;
            }

            .weather-main__date {
                font-size: 18px;
                grid-column-start: 2;
                grid-row-start: 2;
                grid-column-end: span 2;
                -ms-grid-column: 2;
                -ms-grid-row: 2;
                -ms-grid-column-span: 2;
                margin: 0 auto;
            }

            .weather__grid-item:first-child {
                grid-column-start: 1;
                grid-row-start: 1;
                grid-row-end: span 2;
                -ms-grid-column: 1;
                -ms-grid-row: 1;
                -ms-grid-row-span: 2;
            }

            .weather__grid-item:last-child {
                grid-column-start: 4;
                grid-row-start: 1;
                grid-row-end: span 2;
                -ms-grid-column: 4;
                -ms-grid-row: 1;
                -ms-grid-row-span: 2;
            }
        }
    }

    .weather-footer {
        background-color: #2e3335;
        border-bottom-right-radius: 10px;
        border-bottom-left-radius: 10px;
        display: grid;
        display: -ms-grid;
        grid-template-rows: 1fr auto 1fr auto;
        -ms-grid-rows: 1fr auto 1fr auto;
        -ms-grid-columns: 1fr;

        .weather__grid-item:first-child {
            -ms-grid-row: 1;
        }

        .weather-footer__parameters {
            -ms-grid-row: 2;
            padding: 44px;
            display: grid;
            grid-template-columns: minmax(90px, auto) 1fr minmax(62px, auto) 1fr minmax(68px, auto);
            display: -ms-grid;
            -ms-grid-columns: 96px 1fr 62px 1fr 68px;

            .weather__grid-item:nth-child(3) {
                -ms-grid-row: 3;
            }

            .weather-footer__item {
                display: grid;
                display: -ms-grid;
                grid-template-columns: auto auto;
                -ms-grid-columns: auto auto;
                color: #525a5d;

                img {
                    -ms-grid-column: 1;
                }

                .weather-footer__text {
                    font-family: "Proxima Nova Bold";
                    font-size: 14px;
                    padding-left: 18px;
                    text-transform: uppercase;
                    color: #ffffff;
                    -ms-grid-column: 2;
                    margin-top: auto;
                    margin-bottom: auto;
                }

                .weather-footer__item:first-child {
                    -ms-grid-column: 1;
                }

                .weather-footer__item:nth-child(3) {
                    -ms-grid-column: 3;
                }

                .weather-footer__item:last-child {
                    -ms-grid-column: 5;
                    margin-right: 8px;
                }

            }
        }
    }

    .weather-footer__scroll {
        -ms-grid-row: 4;
        display: grid;
        grid-template-columns: 1fr minmax(8px, auto) minmax(8px, auto) minmax(6px, auto) minmax(8px, auto) minmax(6px, auto) 1fr;
        align-items: center;
        padding-bottom: 16px;
        display: -ms-grid;
        -ms-grid-columns: 1fr 8px 8px 6px 8px 6px 1fr;

        .weather-footer__point-selected {
            border-radius: 50%;
            background-color: #ffffff;
            width: 8px;
            height: 8px;
            -ms-grid-column: 2;
        }

        .weather-footer__point {
            border-style: solid;
            border-width: 2px;
            border-color: #ffffff;
            border-radius: 50%;
            background-color: rgba(255, 255, 255, 0);
            opacity: 0.2;
            width: 6px;
            height: 6px;

        }

        .weather-footer__point:nth-child(4) {
            -ms-grid-column: 4;
        }

        .weather-footer__point:nth-child(6) {
            -ms-grid-column: 6;
        }

        .weather__grid-item:first-child {
            -ms-grid-column: 1;
        }

        .weather__grid-item:nth-child(3) {
            -ms-grid-column: 3;
        }

        .weather__grid-item:nth-child(5) {
            -ms-grid-column: 5;
        }

        .weather__grid-item:nth-child(7) {
            -ms-grid-column: 7;
        }
    }
}

@media only screen and (max-width: 340px) {
    .weather {
        grid-template-rows: minmax(180px, auto) minmax(70px, auto) minmax(18px, auto) minmax(110px, auto);
        -ms-grid-rows: 180px 70px 18px 130px;
    }

    .weather .weather-header .weather-header__item {
        margin-top: 30px;
        margin-left: 50px;
    }

    .weather .weather-main .weather-main__item:nth-child(2) .weather-main__weather {
        font-size: 18px;
    }

    .weather .weather-main .weather-main__item:nth-child(2) .weather-main__location {
        font-size: 12px;
    }

    .weather .weather-footer .weather-footer__parameters {
        padding: 34px 16px 30px;
    }

    .weather .weather-footer .weather-footer__parameters .weather-footer__item .weather-footer__text {
        padding-left: 1px;
    }
}
