* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #4e5860;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.widget {
    background-color: #f1f8f9;
    max-width: 388.99px;
    width: 100%;
    max-height: 464px;
    height: 100%;
    border-radius: 10px 10px 29px 29px;
    display: grid;
    grid-template: repeat(7, 10%) repeat(6, 5%) / repeat(10, 10%);
    box-shadow: 0px 37px 76px 2px rgba(0, 0, 0, 0.2);
}

.widget__light-part {
    display: grid;
    grid-area: 1 / 1 / span 7 / span 10;
    grid-template: repeat(10, 10%) / repeat(10, 10%);
    justify-content: space-between;
}
.widget__refresh {
    grid-area: 1 / 10 / span 1 / span 1;
    align-self: flex-end;
    justify-self: flex-start;
}
.widget__refresh > img {
    width: 100%;
    height: 100%;
}
.widget__main-pic {
    grid-area: 2 / 4 / span 4 / span 4;
    align-self: flex-end;
    justify-self: center;
}
.widget__main-pic > img {
    width: 100%;
    height: 100%;
}
.widget__info {
    grid-area: 8 / 1 / span 2 / span 3;
    justify-self: center;
    align-self: flex-end;
}
.widget__info > span {
    font-family: 'Raleway', sans-serif;
    font-size: 58px;
    color: #a5acaf;
}
.widget__info > img {
    padding-bottom: 25px;
}
.widget__description-location {
    grid-area: 8 / 4 / span 2 / span 5;
    align-self: flex-end;
    justify-self: flex-start;
}
.widget__description {
    font-family: 'Quicksand', sans-serif;
    color: #bac2c6;
    font-size: 24px;
}
.widget__location {
    font-family: 'Quicksand', sans-serif;
    color: #a2a9ad;
    font-size: 16px;
}
.widget__date {
    grid-area: 8 / 9 / span 2/ span 2;
    align-self: flex-start;
    justify-self: flex-end;
    max-width: 65px;
    width: 65px;
    max-height: 69px;
    height: 69px;
    background-color: #54bae6;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.widget__month {
    text-transform: uppercase;
}

.widget__dark-part {
    background-color: #2e3335;
    border-radius: 0px 0px 10px 10px;
    display: grid;
    grid-area: 8 / 1 / span 6 / span 10;
    grid-template: repeat(4, 25%) / repeat(10, 10%);

    font-family: 'Montserrat', sans-serif;
    color: #ffffff;
    font-size: 14px;
    text-transform: uppercase;
}
.dark-part__item > span {
    padding-left: 18px;
}
.dark-part__item:nth-child(1) {
    grid-area: 2 / 2 / span 1 / span 3;
    display: flex;
    align-items: center;
}
.dark-part__item:nth-child(2) {
    grid-area: 2 / 5 / span 1 / span 2;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dark-part__item:nth-child(3) {
    grid-area: 2 / 8 / span 1 / span 2;
    display: flex;
    align-items: center;
}
.dark-part__scroll-dots {
    grid-area: 3 / 5 / span 1 / span 2;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.dark-part__scroll-dots > img {
    padding-right: 9px;
}
.dark-part__scroll-dots > img:nth-child(3) {
    padding-right: 0;
}

/*smartphones*/
@media (max-width: 400px) {
    .widget {
        max-width: 388.99px;
        width: 80%;
        max-height: 464px;
        height: 100%;
    }
    .widget__main-pic {
        grid-area: 2 / 4 / span 3 / span 4;
        align-self: center;
        justify-self: center;
    }
    .widget__info {
        grid-area: 6 / 4 / span 2 / span 4;
    }
    .widget__description-location {
        grid-area: 8 / 1 / span 3 / span 8;
        align-self: center;
        justify-self: flex-start;
        padding-left: 5px;
    }
    .widget__date {
        grid-area: 8 / 9 / span 3/ span 2;
        align-self: center;
        justify-self: flex-end;
        max-width: 65px;
        width: 65px;
        max-height: 69px;
        height: 100%;
        background-color: #54bae6;
        font-family: 'Kanit', sans-serif;
        font-weight: 700;
        color: #ffffff;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .dark-part__item > span {
        padding: 0;
    }
    .dark-part__item > img {
        margin-bottom: 5px;
    }
    .dark-part__item:nth-child(1) {
        grid-area: 1 / 2 / span 2 / span 2;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
    }
    .dark-part__item:nth-child(2) {
        grid-area: 1 / 5 / span 2 / span 2;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
    }
    .dark-part__item:nth-child(3) {
        grid-area: 1 / 8 / span 2 / span 2;
        align-self: flex-end;
        display: flex;
        flex-direction: column;
    }
    .dark-part__scroll-dots {
        grid-area: 3 / 5 / span 1 / span 2;
        align-self: flex-end;
    }
    .dark-part__scroll-dots > img {
        padding-right: 9px;
    }
    .dark-part__scroll-dots > img:nth-child(3) {
        padding-right: 0;
    }
}

@media (max-width: 300px) {
    .widget__refresh {
        grid-area: 1 / 9 / span 2 / span 2;
        align-self: center;
        justify-self: center;
    }
    .widget__main-pic {
        grid-area: 2 / 5 / span 2 / span 2;
        align-self: flex-end;
        justify-self: center;
    }
    .widget__info {
        grid-area: 4 / 1 / span 2 / span 10;
        align-self: center;
        justify-self: center;
        padding-left: 10px;
    }
    .widget__info > span {
        font-family: 'Raleway', sans-serif;
        font-size: 40px;
        color: #a5acaf;
    }
    .widget__info > img {
        padding-bottom: 20px;
    }
    .widget__description-location {
        grid-area: 6 / 1 / span 3 / span 10;
        align-self: center;
        justify-self: center;
        padding-left: 5px;
        text-align: center;
    }
    .widget__date {
        grid-area: 9 / 1 / span 2/ span 10;
        align-self: flex-start;
        justify-self: flex-end;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        background-color: #54bae6;
        font-family: 'Kanit', sans-serif;
        font-weight: 700;
        color: #ffffff;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .widget__month {
        padding-right: 5px;
    }
    .dark-part__item > span {
        padding: 0;
    }
    .dark-part__item > img {
        margin-bottom: 0;
    }
    .dark-part__item:nth-child(1) {
        grid-area: 1 / 1 / span 3 / span 4;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
    .dark-part__item:nth-child(2) {
        grid-area: 1 / 5 / span 3 / span 2;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
    .dark-part__item:nth-child(3) {
        grid-area: 1 / 8 / span 3 / span 2;
        align-self: center;
        display: flex;
        flex-direction: column;
    }
    .dark-part__scroll-dots {
        grid-area: 4 / 5 / span 1 / span 2;
        align-self: center;
    }
    .dark-part__scroll-dots > img {
        padding-right: 9px;
    }
    .dark-part__scroll-dots > img:nth-child(3) {
        padding-right: 0;
    }
}

/*
and (max-height: 500px)
and (max-height: 400px)
*/