@mixin border-box() {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.carousel {
  @include border-box();
  display: flex;
  height: 108px;
  width: 100%;
  text-align: center;
  padding: 0 56px;
  background: rgba(0, 0, 0, 0.3);
}

.carousel_size_m {
  padding: 0 28px;
}

.carousel__nav-arrows {
  display: inline-block;
  width: 16px;
  height: 108px;
  cursor: pointer;
}

.carousel__nav-arrows_left {
  background: center no-repeat url("../img/icon_arrow_left.png");
}

.carousel__nav-arrows_right {
  background: center no-repeat url("../img/icon_arrow_right.png");
}

.carousel__forecast-container {
  display: flex;
}

// For the large (original) widget

@media only screen and (min-width: 1280px) {
  .carousel_size_l {
    padding: 0 56px;
  }
}

