@media screen and (max-width: 959px) {
  .widget {
    font-size: 2vw;
    &__container {
      width: 21.75%;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    &__item {
      height: 21.38vw;
    }
    &__day {
      font-size: 1.25vw;
    }
  }
}
@media screen and (max-width: 639px) {
  .widget {
    font-size: 3vw;
    &__container {
      width: 33.3333333%;
    }
    &__item {
      height: 32.5vw;
    }
    &__day {
      font-size: 2vw;
    }
  }
}
@media screen and (max-width: 479px) {
  .widget {
    font-size: 4vw;
    &__container {
      width: 45%;
    }
    &__item {
      width: 100%;
      height: 42.5vw;
    }
    &__day {
      font-size: 2.3vw;
    }
  }
}
@media screen and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .widget {
    &__container {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr 1fr;
      -ms-grid-rows: 1fr 1fr;
    }
    &__item {
      display: -ms-grid;
      -ms-grid-columns: 1fr;
      -ms-grid-rows: 1fr 1fr;
      text-align: center;
      @each $number in 1, 2, 3, 4, 5, 6 {
        &:nth-child(#{$number}) {
          @if $number%3==0 {
            -ms-grid-column: 3;
          } @else {
            -ms-grid-column: $number%3;
          }
          @if $number/3<=1 {
            -ms-grid-row: 1;
          } @else {
            -ms-grid-row: 2;
          }
        }
      }
    }
    &__icon {
      -ms-grid-column: 1;
      -ms-grid-row: 1;
      width: 43%;
      margin: 40% auto;
      &_small {
        width: 30%;
        margin-top: 19%;
      }
    }
    &__weather {
      -ms-grid-column: 1;
      -ms-grid-row: 2;
      margin-top: 40%;
    }
    &__week {
      display: -ms-grid;
      -ms-grid-columns: 1fr 1fr 1fr 1fr;
      -ms-grid-rows: 1fr;
      -ms-grid-column: 1;
      -ms-grid-row: 2;
    }
    &__day {
      display: -ms-grid;
      -ms-grid-columns: 1fr;
      -ms-grid-rows: 1fr 1fr 1fr;
      margin-top: 15%;
      @each $number in 1, 2, 3, 4 {
        &:nth-child(#{$number}) {
          -ms-grid-column: $number;
          -ms-grid-row: 1;
        }
      }
    }
    &__day-icon {
      margin-left: 20%;
      margin-top: -10%;
    }
    &__day-item {
      @each $number in 1, 2, 3 {
        &:nth-child(#{$number}) {
          -ms-grid-column: 1;
          -ms-grid-row: $number;
        }
      }
    }
  }

  @media screen and (max-width: 959px) {
    .widget {
      font-size: 2vw;
      &__container {
        width: 21.75%;
        display: -ms-grid;
        -ms-grid-columns: 1fr;
        -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
      }
      &__item {
        height: 21.38vw;
        @each $number in 1, 2, 3, 4, 5, 6 {
          &:nth-child(#{$number}) {
            -ms-grid-column: 1;
            -ms-grid-row: $number;
          }
        }
      }
      &__day {
        font-size: 1.25vw;
      }
    }
  }
  @media screen and (max-width: 639px) {
    .widget {
      font-size: 3vw;
      &__container {
        width: 33.3333333%;
      }
      &__item {
        height: 32.5vw;
      }
      &__day {
        font-size: 2vw;
      }
    }
  }
  @media screen and (max-width: 479px) {
    .widget {
      font-size: 4vw;
      &__container {
        width: 45%;
      }
      &__item {
        width: 100%;
        height: 42.5vw;
      }
      &__day {
        font-size: 2.3vw;
      }
    }
  }
}
