
html {
  height: 100%;
  overflow: hidden;
}
body {
  background-image: linear-gradient( #b6b7bc, #2d3040);
	height: 100%;
}
.container {
  margin: 0 auto;
  padding: 50px;
}
.widget {
  margin: 0 auto;
  position: relative;
	background-image: url(../img/paris.png);
	height: 435px;
	max-width: 696px;
	width: 100%;
	box-sizing: border-box;
	display: ;
	grid-template-columns: ;
	justify-content: ;
  font-family: "Lato";
  color: #ffffff;
}
.widget__temperature {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 26px auto;
  grid-template-columns: auto auto;
  -ms-grid-rows: auto;
  grid-template-rows: auto;
  justify-content: end;
  -webkit-column-gap:26px;
     -moz-column-gap:26px;
          column-gap:26px;
  padding: 80px 50px 50px 50px;
  text-align: center;
  height: 327px;
}

.widget__temperature > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}

.widget__temperature > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
}
.widget__date {
  position: relative;
  padding: 0px 32px 16px 32px;
}
.widget__city {
  font-size: 22px;
  font-weight: 300;
  padding: 0px px px 0px;
  display:block;
  }
.widget__weekday {
  font-size: 30px;
  font-weight: 300;
  }
.widget__month {
  font-size: 15px;
  font-weight: 300;
}
.widget__today {
  font-size: 15px;
  font-weight: 300;
}
.widget__value {
  font-size: 95px;
  line-height: 95px;
  color: #ffffff;
  font-weight: 900;
  font-family: "Lato";
}
.widget__speed {
  font-size: 25px;
  line-height: 16px;
  font-weight: bold;
}
.widget__mph {
  font-size: 14px;
  font-weight: bold;
}
.widget__days {
  position: relative;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.day {
  padding: 18px 32px 16px;
  position: relative;
  display: grid;
  height: 112px;
}
.widget__prev, .widget__next {
  padding: 40px;
  position: relative;
}
.day::after {
  content: "";
  position: absolute;
  top: 11px;
  right: 0;
  background: rgba(255, 255, 255, 0.7);
  height: 80%;
  width: 1px;
}
.day:last-child:after {
  content: none;
}
.widget__weathercast {
  display: grid;
  display: grid;
  grid-template-rows: 108px;
  grid-template-columns: 1fr 4fr 1fr;
  text-align: center;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 108px;
  background-color: rgba(0,0,0,0.3);
}
.widget__day-value .day__value {
  line-height:
}
@media screen and (max-width: 768px){
  .widget__temperature{
     display: grid;
     grid-template-rows: auto auto;
     grid-template-columns: auto;
 }
  .widget__prev, .widget__next{
    padding: 5px;
 }
  .day {
    padding: 18px 5px 16px 5px;
 }
}
