
html {
  height: 100%;
  overflow: hidden;
}
body {
  font-family: "Lato";
	color: #ffffff;
  background-image: linear-gradient( #b6b7bc, #2d3040);
	height: 100%;
}
.container: {
margin: 0 auto;
position: relative;
background-image: url(../images/paris.png);
height: 435px;
max-width: 695px;
width: 100%;
box-sizing: border-box;
display: flex;
flex-direction: column;
justify-content: space-between;
}
