body {
  font-family: "Lato";
	color: #ffffff;
  background-image: linear-gradient( #b6b7bc, #2d3040);
	height: 100%;
}
.sidebar {
  width:
}
.container: {
  max-width: 800px;
  margin: 0 auto;
  background-image: url(../img/paris.png);
}
.widget__rowbottom {
  display:grid;
}
