body {
   background-image: url(https://www.woodsidespaandglamping.com/wp-content/uploads/2017/02/blurred-forest.jpg);
   background-repeat: no-repeat;
   background-position: center center;
   background-size: cover;

   // Pic without blur
   // background-image: url(https://yogalondon.net/monkey/wp-content/uploads/2015/04/17484746256_8bfc5f4899_k.jpg);

   // It can add a blurry effect to background, but also it will add some bugs. So I didn't use this in my work and just added the initially blured image
   // backdrop-filter: blur(5px);
   // -webkit-backdrop-filter: blur(5px);
}